@model EducateApp.Models.Data.TypeofTotal

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Просмотр вида промежуточной аттестации</h4>
        <button type="button" class="close" data-dismiss="modal">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CertificateName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CertificateName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Id)
            </dd>
        </dl>
    </div>
</div>